body {
  background-color: hotpink;
}

h1 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 100px;
border-style: dotted;
border-width: 25px;
margin-top: 25px;
display: flex;
align-items: left;
justify-content: center;
}

h2 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 32px;
text-align: center;
display: flex;
justify-content: center;
padding-bottom: 15px;
}

#bio {
display: flex;
padding-top: 50px;
padding-bottom: 30px;
justify-content: center;
padding-left: 25%;
padding-right: 25%;
text-align: center;
}

#goals {
display: flex;
padding-bottom: 30px;
justify-content: center;
padding-left: 25%;
padding-right: 25%;
text-align: center;
}

#education {
display: flex;
justify-content: center;
padding-left: 25%;
padding-right: 25%;
text-align: center;
}

#work-experience {
  display: flex;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  }

#top-albums{
  display: flex;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  }

p{
  font-family:  'Arial Narrow Bold', sans-serif;
}

li{
  font-family:  'Arial Narrow Bold', sans-serif;
  padding-bottom: 15px;
}